/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 févr. 2017, 17:34:44
    Author     : guillaume
*/

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Verdena, Arial, sans-serif; 
    font-size: 12px;
}

#main{
    width: 1024px;
    margin: 0 auto;
    /*padding: 10px;*/
    background-color: hsl(58,62%,91%);
}


#top{
    background-color: hsl(69,90%,50%);
    height: 50px;
}

#centre{
/*    background-color: hsl(29,90%,50%);*/
    height: calc(100% - 130px);
}

#milieu{
    background-color: hsl(49,90%,50%);
    width: calc(100% - 360px);
    position: relative;
    /*    left: 170px;*/
    float: left;
    height: calc(100% - 20px);
    overflow: auto;
    border-radius: 4px;

}

#droite{
    background-color: hsl(59,90%,50%);
    width: 150px;
    position: relative;
    float: right;
    height: calc(100% - 20px)
}

#bottom{
    background-color: hsl(69,90%,50%);
    position: fixed;
/*    width: calc(100% - 20px);*/
    width: 1024px;
    bottom: 0;
    height: 30px;
}

